@page "/abraao"

<div class="container">
    <div class="card">

        <div class="nome">Abraão</div>

        <div class="linha"></div>

        <div class="cargo">
            Estudante de Informática • IFRO • 3º Ano B
        </div>

        <div class="texto">
            Olá! Tenho 16 anos e sou estudante do curso Técnico em Informática do IFRO.
            Sou apaixonado por <span class="destaque">tecnologia</span>, programação,
            manutenção de computadores e tudo que envolve inovação.

            Estou sempre buscando aprender mais, evoluir minhas habilidades e adquirir
            novos conhecimentos para construir um futuro de sucesso.

            Além da área de tecnologia, também tenho interesse na área da saúde e
            pretendo cursar <span class="destaque">Enfermagem</span> futuramente.
            Sou dedicado, responsável e gosto de enfrentar novos desafios.
        </div>

        <a class="btn-whats"
           href="https://wa.me/5569993609509"
           target="_blank">
            💬 Falar comigo no WhatsApp
        </a>

    </div>
</div>

@code
{

}