@page "/alicy"


<section class="pagina-alicy">

    <div class="card-alicy">

        <h1>Alicy Oliveira</h1>

        <p class="cargo">
            Prazer! Eu sou estudante e apaixonada por tecnologia, criatividade e inovação.
        </p>

        <p>
            Atualmente estudo e busco aprimorar meus conhecimentos em
            informática, design e desenvolvimento digital. Meu objetivo é
            crescer profissionalmente e contribuir com projetos criativos
            que façam a diferença.
        </p>

        <a href="/Contato" class="botao-alicy">
            Entrar em Contato
        </a>

    </div>

</section>