@page "/samuel"

<div class="container">

    <div class="card">

        <h1 class="nome">SAMUEL</h1>

        <div class="cargo">
            Estudante de Informática • IFRO • 3º Ano B
        </div>

        <h1 class="nome">Samuel</h1>

        <div class="linha"></div>

        <div class="texto">
            Olá! Meu nome é <span class="destaque">Samuel</span> e sou estudante
            do curso Técnico em Informática do IFRO.

            Tenho interesse em programação, desenvolvimento web,
            tecnologia e inovação.

            Estou sempre buscando aprender novas habilidades e
            desenvolver projetos para aumentar minha experiência
            na área da tecnologia.
        </div>

        <a class="botao"
           href="https://wa.me/5569993609509"
           target="_blank">
            PLAY
        </a>

    </div>

</div>