@page "/estefani"

<h3>Estefani</h3>

@page "/estefani"

<PageTitle>Estefani</PageTitle>

<section class="pagina-estefani">

    <div class="card-estefani">

        <h1>Estefani Souza</h1>

        <p class="cargo">
            Prazer! eU SOU Estudante de Informática e futura Designer Digital em Portugual
        </p>

        <p>
            Eu gosto da tecnologia, Front-end e design.
            Atualmente estudo no IFRO e busco desenvolver minhas
            habilidades para construir uma carreira internacional.
        </p>

        <a href="/Contato" class="botao-estefani">
            Entrar em Contato
        </a>

    </div>

</section>
