@page "/guilherme"

<div class="perfil">
    <h1>Guilherme Pimentel da Rocha</h1>

    <p><strong>Curso:</strong> Técnico em Informática - IFRO</p>
    <p><strong>Linguagens:</strong> C#, HTML, CSS e JavaScript</p>
    <p><strong>Interesses:</strong> Desenvolvimento Web, Banco de Dados e Programação</p>

    <hr />

    <h3>Sobre mim</h3>
    <p>
        Sou estudante do curso Técnico em Informática e estou aprendendo
        desenvolvimento de sistemas, programação orientada a objetos,
        banco de dados e criação de sites.
    </p>
</div>


@code {

}