@page "/"

<PageTitle>Home</PageTitle>

<h1>Bem-Vindo Aos Portifólios Dos Alunos</h1>

<ul>
    <li><a href="/alisson">Alisson Caio</a></li>
    <li><a href="/victor">Victor Henrique</a></li>
    <li><a href="/abraao">Abraão</a></li>
    <li><a href="/thais">Thais</a></li>
    <li><a href="/rayane">Rayane</a></li>
</ul>
