@page "/IuriBL"

<h4>Iúri</h4>
<section class="curriculo">
    <h1>Iuri Barbosa Leite</h1>

    <div class="info">
        <p>Email: Iuribrabo123@bol.com</p>
        <p>Telefone: (61) 99999-0000</p>
    </div>

    <h2>Objetivo</h2>
    <p>Ganhar dinheiro fácil sem fazer muita coisa.</p>

    <h2>Experiência</h2>
    <ul>
        <li>Já ajudei meu tio uma vez</li>
        <li>Fiquei 2 dias em um emprego</li>
        <li>Experiência em várias coisas</li>
    </ul>

    <h2>Habilidades</h2>
    <ul>
        <li>Mexer no celular muito rápido</li>
        <li>Procrastinação avançada</li>
    </ul>
</section>